{{ partial "head.html" . }}
</head>

<body>

<div class="universe">

  {{ partial "header.html" . }}

  <div class="columns small-12">
    <div class="row">

      <div class="columns small-12">
        <h1 class="page-title">{{ .Title }}</h1>
      </div>

      <div class="row">
        <div class="columns small-8 small-centered large-8 large-centered">
          {{ .Content }}
        </div>
      </div>

    </div>
  </div>

  {{ partial "footer.html" . }}

</div>

{{ partial "ga.html" . }}

</body>

</html>
