---
import Footer from "../components/footer/Footer.astro";
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";

import fsp from "node:fs/promises";
import yaml from "js-yaml";
import { getSections } from "../components/history/history";
import HistoryDisplay from "../components/history/HistoryDisplay.astro";
import HistoryRange from "../components/history/HistoryRange.astro";

const yml = await fsp.readFile("./src/data/history.yml", {
  encoding: "utf-8",
});
const data = yaml.load(yml);
const sections = getSections(data);
---

<Layout title="Work History" description="A history of my work">
  <PageTitle />

  <div class="mx-auto max-w-3xl px-4">
    <h1 class="mb-8 text-center text-2xl font-bold">History</h1>
    <HistoryDisplay data={sections} />
  </div>

  <HistoryRange />

  <Footer />
</Layout>
