---
import About from "../components/home/About.astro";
import Links from "../components/home/Links.astro";
import Top from "../components/home/Top.astro";
import Ribbon from "../components/ribbon/ribbon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ryan Rampersad" description="this is content">
  <div class="space-y-16">
    <Top />

    <About />

    <Links />
  </div>
  <Ribbon />
</Layout>
