---
---

<div id="links" class="container mx-auto min-h-screen p-4">
  <div class="flex flex-col items-center gap-4">
    <h3 class="mb-12 text-center text-3xl font-bold">
      Find me just about everywhere
    </h3>

    <div
      class="flex w-full flex-col items-center justify-between gap-8 px-4 text-center text-2xl sm:flex-row md:px-24 md:text-3xl [&_a]:decoration-transparent [&_a]:transition-all [&_a]:duration-500 [&_a:hover]:underline [&_a:hover]:decoration-red-600"
    >
      <ul class="space-y-2">
        <li>
          <a class="block p-2" href="https://mastodon.cloud/@ryanmr" rel="me"
            >Mastodon</a
          >
        </li>
        <li>
          <a class="block p-2" href="https://twitter.com/ryanmr">Twitter</a>
        </li>
        <li>
          <a class="block p-2" href="https://www.linkedin.com/in/ryanrampersad"
            >Linkedin</a
          >
        </li>
      </ul>

      <ul class="space-y-2">
        <li><a class="block p-2" href="https://www.ryanmr.com">ryanmr</a></li>
        <li><a class="block p-2" href="https://thenexus.tv">The Nexus</a></li>
      </ul>

      <ul class="space-y-2">
        <li>
          <a class="block p-2" href="https://github.com/ryanmr">Github</a>
        </li>
        <li>
          <a class="block p-2" href="https://gitlab.com/ryanmr">Gitlab</a>
        </li>
        <li>
          <a class="block p-2" href="https://bitbucket.org/ryanmr">Bitbucket</a>
        </li>
        <li><a class="block p-2" href="https://gist.github.com">Gist</a></li>
      </ul>
    </div>
  </div>
</div>
