---
---

<div id="links" class="min-h-screen p-4 md:p-12">
  <h3 class="text-center font-bold text-3xl">Find me just about everywhere</h3>

  <ul>
    <li>
      <a>
        <span>mastodon</span>
        <span>@ryanmr@mastodon.cloud</span>
      </a>
    </li>
    <li><a>twitter</a></li>
  </ul>
</div>
