---
---

<div id="more" class="container mx-auto min-h-screen p-4">
  <div class="flex flex-col gap-8 justify-center max-w-md mx-auto">
    <div>
      <h3 class="mb-12 text-center text-3xl font-bold">More</h3>
      <p>There's a bit more to see. Feel free to look around.</p>
    </div>

    <dl
      class="flex flex-col gap-4 [&_a]:decoration-stone-300 [&_a:hover]:decoration-red-600 [&_a]:underline [&_a]:decoration-wavy"
    >
      <div>
        <dt>
          <a href="https://card.ryanrampersad.com/?mainsite">Annual Card</a>
        </dt>
        <dd>Ryan's commemorative card, mailed to you annually.</dd>
      </div>
      <div>
        <dt>
          <a href="/books">Book recommendations</a>
        </dt>
        <dd>
          Good books in a nice list, ideal for software engineers, architects,
          managers, hackers and more.
        </dd>
      </div>
    </dl>
  </div>
</div>
