---
import Background from "../experiment1/Background.astro";
import LinkCard from "../LinkCard.astro";
---

<div
  id="more"
  class="container mx-auto flex min-h-screen flex-col items-center justify-center gap-8 p-4"
>
  <div>
    <h3 class="mb-12 text-center text-3xl font-bold">More</h3>
    <p>There's a bit more to see. Feel free to look around.</p>
  </div>

  <div class="grid grid-cols-[repeat(auto-fill,minmax(18rem,1fr))] gap-8">
    <LinkCard
      title="Annual Card"
      description="Celebrate the new year with Ryan's commemorative card, mailed to you annually"
      href="https://card.ryanrampersad.com"
    />

    <LinkCard
      title="JavaScript Roundup"
      description="Ryan's regularly updated JavaScript Webtech evaluation"
      href="https://www.ryanmr.com/posts/webtech-tooling"
    />

    <!-- todo: rewrite as a blog post -->
    <!-- <LinkCard
      title="Book recommendations"
      description="Good books in a nice list, ideal for software engineers, architects, managers, hackers and more."
      href="/books"
    /> -->
  </div>
</div>
