---
import LinkCard from "../LinkCard.astro";

const items = [
  {
    name: "Fastmail",
    url: "https://adept.work/reffm",
    description:
      "The best google free, cross platform, paid-for, inexpensive alternative email provider",
    active: true,
    order: 100,
    group: "email",
  },
  {
    name: "Linode",
    url: "https://adept.work/refln",
    description: "Great virtual private servers powered by the Akamai network",
    active: true,
    order: 100,
    group: "vps",
  },
  {
    name: "Digital Ocean",
    url: "https://adept.work/refdo",
    description: "Incredibly flexible virtual private servers",
    active: true,
    order: 100,
    group: "vps",
  },
  {
    name: "Hover",
    url: "https://adept.work/refhv",
    description: "Find domains from a well known no nonsense registrar",
    active: true,
    order: 200,
    group: "domain",
  },
  {
    name: "Bitwarden",
    url: "https://bitwarden.com/?ref=ryanrampersad.com",
    description:
      "An alternative to LastPass, open source; secure passwords and information",
    active: true,
    order: 400,
    group: "security",
  },
  {
    name: "Sticker Mule",
    url: "https://adept.work/refsm",
    description: "Custom made stickers and more for every occassion",
    active: true,
    order: 550,
    group: "fun",
  },
  {
    name: "Google Fi",
    url: "https://adept.work/refgf",
    description: "Google Fi offers powerful plans and photogentic phones",
    active: true,
    order: 650,
    group: "phone",
  },
  {
    name: "Samsung",
    url: "https://adept.work/refsam",
    description: "Samsung makes the flagship Android smartphones",
    active: true,
    order: 750,
    group: "phones",
  },
  {
    name: "Rakuten",
    url: "https://adept.work/refrk",
    description: "Cash back at whenever you shop online",
    active: true,
    order: 500,
    group: "finance",
  },
  {
    name: "Square Cash",
    url: "https://adept.work/refsc",
    description:
      "The easy way to send and receive money from friends and family",
    active: true,
    order: 800,
    group: "finance",
  },
  {
    name: "Chase",
    url: "https://adept.work/refcb",
    description:
      "Chase Sapphire Reserve is a great and valuable card with for even the infrequent traveler",
    active: true,
    order: 800,
    group: "finance",
  },
  {
    name: "Schwab",
    url: "https://adept.work/refsch",
    description: "Invest responsibly, invest stategically, invest with Schwab",
    active: true,
    order: 800,
    group: "finance",
  },
  {
    name: "Lunch Money",
    url: "https://adept.work/reflm",
    description:
      "Mint is dead. Need to manage incidental and recurring spending and support a great developer?",
    active: true,
    order: 800,
    group: "finance",
  },
].sort((a, b) => a.name.localeCompare(b.name));
---

<div id="more" class="container mx-auto min-h-screen p-4">
  <div class="flex flex-col gap-8">
    <h3 class="mb-12 text-center text-3xl font-bold">Referrals</h3>

    <div
      class="grid grid-cols-[repeat(auto-fill,minmax(min(18rem,100%),1fr))] gap-8"
    >
      {
        items.map((item) => {
          return (
            <LinkCard
              title={item.name}
              description={item.description}
              href={item.url}
            />
          );
        })
      }
    </div>

    <p class="text-center text-sm max-w-prose mx-auto">
      I may benefit montarily, through bonuses or perks if you use my referral
      codes. Thanks for the support. Send me a ping on <a
        class="text-blue-400 hover:text-blue-500 hover:underline"
        href="https://twitter.com/ryanmr">Twitter</a
      > if you use one, I appreicate it.
    </p>
  </div>
</div>
