---
---

<div id="top" class="flex flex-col min-h-screen">
  <div
    class="z-10 flex flex-col items-center justify-center min-h-screen p-4 md:p-12 gap-8"
  >
    <h1
      class="text-center text-white uppercase select-none font-brand text-7xl sm:text-9xl animate-fade-down transform -translate-y-2 opacity-0 [animation-delay:0.7s]"
    >
      Ryan Rampersad
    </h1>

    <ul class="text-center text-xl leading-normal">
      <li
        class="animate-fade-down transform -translate-y-2 opacity-0 [animation-delay:.9s]"
      >
        software engineer
      </li>
      <li
        class="animate-fade-down transform -translate-y-2 opacity-0 [animation-delay:1.0s]"
      >
        web developer
      </li>
      <li
        class="animate-fade-down transform -translate-y-2 opacity-0 [animation-delay:1.1s]"
      >
        consultant
      </li>
      <li
        class="animate-fade-down transform -translate-y-2 opacity-0 [animation-delay:1.2s]"
      >
        podcaster
      </li>
      <li
        class="animate-fade-down transform -translate-y-2 opacity-0 [animation-delay:1.3s]"
      >
        technology enthusiast
      </li>
    </ul>

    <ul class="inline-flex gap-2">
      <li
        class="animate-fade-x transform -translate-x-4 opacity-0 [animation-delay:1.4s]"
      >
        <a
          class="bg-black bg-opacity-50 px-3 py-2 text-stone-200 hover:text-white transition-all duration-500 rounded-sm border border-transparent hover:border-white"
          href="#about">About</a
        >
      </li>
      <li
        class="animate-fade-x transform -translate-x-4 opacity-0 [animation-delay:1.4s]"
      >
        <a
          class="bg-black bg-opacity-50 px-3 py-2 text-stone-200 hover:text-white transition-all duration-500 rounded-sm border border-transparent hover:border-white"
          href="#links">Links</a
        >
      </li>
      <li
        class="animate-fade-x transform translate-x-4 opacity-0 [animation-delay:1.4s]"
      >
        <a
          class="bg-black bg-opacity-50 px-3 py-2 text-stone-200 hover:text-white transition-all duration-500 rounded-sm border border-transparent hover:border-white"
          href="#work">Work</a
        >
      </li>
      <li
        class="animate-fade-x transform translate-x-4 opacity-0 [animation-delay:1.4s]"
      >
        <a
          class="bg-black bg-opacity-50 px-3 py-2 text-stone-200 hover:text-white transition-all duration-500 rounded-sm border border-transparent hover:border-white"
          href="#more">More</a
        >
      </li>
    </ul>
  </div>
</div>
