---
---

<div id="top" class="flex min-h-screen flex-col">
  <div
    class="z-10 flex min-h-screen flex-col items-center justify-center gap-8 p-4 md:p-12"
  >
    <div class="relative">
      <div
        aria-hidden="true"
        class="absolute inset-0 -translate-y-2 transform animate-fade-down select-none text-center font-brand text-[16vw] uppercase leading-none text-red-700 opacity-0 blur-2xl [animation-delay:0.7s] sm:text-[8rem]"
      >
        Ryan Rampersad
      </div>
      <h1
        class="-translate-y-2 transform animate-fade-down select-none text-center font-brand text-[16vw] uppercase leading-none text-white opacity-0 [animation-delay:0.7s] sm:text-[8rem]"
      >
        Ryan Rampersad
      </h1>
    </div>

    <ul class="text-center text-xl leading-normal">
      <li
        class="-translate-y-2 transform animate-fade-down select-none opacity-0 [animation-delay:.9s]"
      >
        software engineer
      </li>
      <li
        class="-translate-y-2 transform animate-fade-down select-none opacity-0 [animation-delay:1.0s]"
      >
        web developer
      </li>
      <li
        class="-translate-y-2 transform animate-fade-down select-none opacity-0 [animation-delay:1.1s]"
      >
        consultant
      </li>
      <li
        class="-translate-y-2 transform animate-fade-down select-none opacity-0 [animation-delay:1.2s]"
      >
        podcaster
      </li>
      <li
        class="-translate-y-2 transform animate-fade-down select-none opacity-0 [animation-delay:1.3s]"
      >
        technology enthusiast
      </li>
    </ul>

    <ul class="inline-flex gap-2">
      <li
        class="-translate-x-4 transform animate-fade-x opacity-0 [animation-delay:1.4s]"
      >
        <a
          class="select-none rounded-sm border border-transparent bg-black bg-opacity-50 px-3 py-2 text-stone-200 transition-all duration-500 ease-out hover:border-white hover:text-white"
          href="#about">About</a
        >
      </li>
      <li
        class="-translate-x-4 transform animate-fade-x opacity-0 [animation-delay:1.4s]"
      >
        <a
          class="select-none rounded-sm border border-transparent bg-black bg-opacity-50 px-3 py-2 text-stone-200 transition-all duration-500 ease-out hover:border-white hover:text-white"
          href="#links">Links</a
        >
      </li>
      <li
        class="translate-x-4 transform animate-fade-x opacity-0 [animation-delay:1.4s]"
      >
        <a
          class="select-none rounded-sm border border-transparent bg-black bg-opacity-50 px-3 py-2 text-stone-200 transition-all duration-500 ease-out hover:border-white hover:text-white"
          href="#work">Work</a
        >
      </li>
      <li
        class="translate-x-4 transform animate-fade-x opacity-0 [animation-delay:1.4s]"
      >
        <a
          class="select-none rounded-sm border border-transparent bg-black bg-opacity-50 px-3 py-2 text-stone-200 transition-all duration-500 ease-out hover:border-white hover:text-white"
          href="#more">More</a
        >
      </li>
    </ul>
  </div>
</div>
