---
---

<div
  id="work"
  class="container mx-auto min-h-screen p-4 flex flex-col gap-8 items-center justify-center"
>
  <h3 class="mb-12 text-center text-3xl font-bold">Résumé and Work</h3>

  <div class="flex justify-center gap-4">
    <a
      class="block py-2 px-4 transition-all duration-500 border-stone-700 hover:border-red-600 border rounded-sm"
      href="/resume">Résumé</a
    >
    <a
      class="block py-2 px-4 transition-all duration-500 border-stone-700 hover:border-red-600 border rounded-sm"
      href="/history">History</a
    >
  </div>
</div>
