---
export interface Props {
  title: string;
  description: string;
  href: string;
}

const { href, title, description } = Astro.props;
---

<a
  href={href}
  rel="noopener noreferrer"
  class="block rounded-sm border border-stone-700 p-4 transition-all duration-500 hover:border-red-600"
>
  <div>
    <h4 class="font-bold">{title}</h4>
    <p>{description}</p>
  </div>
</a>
