---
---

<a
  href="/"
  class="mb-8 block select-none border-b-4 border-transparent px-4 pt-12 pb-12 text-center font-brand text-[4rem] uppercase leading-none text-white transition-all duration-500 hover:border-red-600"
>
  Ryan Rampersad
</a>
