---
---

<div class="container mx-auto px-4 pt-12 pb-20">
  <a
    href="/"
    class="block select-none text-center font-brand uppercase text-white leading-none text-[4rem]"
  >
    Ryan Rampersad
  </a>
</div>
