<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ .Title }} &raquo; {{ .Site.Title }}</title>

<meta name="description" content="{{ .Site.Params.description }}">
<meta name="keywords" content="{{ .Site.Params.keywords }}">
<meta name="author" content="{{ .Site.Params.author }}">

<link rel="stylesheet" href="/css/foundation.css" media="screen">
<link rel="stylesheet" href="/css/styles.css" media="screen">

{{ partial "banner.html" }}
