{{ partial "head.html" . }}
</head>

<body>

<div class="universe">

  {{ partial "header.html" . }}

  <div class="row">

    <div class="columns small-12">
      <h1 class="page-title">{{ .Title }}</h1>
    </div>

    <div class="columns small-12 text-center">
      <p>Download my latest resume as a PDF</p>
      <a class="resume-download button hollow" href="https://adept.work/ryanresume">Download Resume PDF</a>
      <!--
        Note to self:

          The PDF is provided via my Google Drive.

          The PDF is linked through my link shortener adept.work/

          I can update the live version anytime without changing this repo.

          Thanks, past me, you're a clever one.
      -->
    </div>

    <div class="columns">
      <div class="row align-center">
        <div class="columns small-8 large-8 align-center">
        {{ .Content }}
        </div>
      </div>
    </div>

  </div>

  {{ partial "footer.html" . }}

</div>

{{ partial "ga.html" . }}

</body>

</html>
