<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ .Site.Title }}</title>

<meta name="description" content="{{ .Site.Params.description }}">
<meta name="keywords" content="{{ .Site.Params.keywords }}">
<meta name="author" content="{{ .Site.Params.author }}">

<link rel="stylesheet" href="/css/foundation.css" media="screen">
<link rel="stylesheet" href="/css/styles.css" media="screen">

</head>

<body>

<div class="universe">

  <header class="site-header huge">
    {{ if .IsNode }}
      <h1 class="site-title">
        <a href="/">{{.Site.Title}}</a>
      </h1>
    {{ else }}
      <span class="site-title">
        <a href="/">{{.Site.Title}}</a>
      </span>
    {{ end }}
  </header>

  <div class="galaxy">

    <div class="row">

      <div class="columns small-12 large-6">
        <div class="featured">
          <img class="featured-image" src="{{ .Site.Data.homepage.featuredimage }}" alt="ryan rampersad, on a train, in the sun, with a Nexus 4" />
        </div>
      </div>

      <div class="columns small-12 large-6">
        <div class="description">
          {{ .Site.Data.homepage.description | markdownify }}
        </div>

        <hr>

        <h4 class="text-center">Find me just about everywhere</h4>
        <div class="links">
          <ul>
            {{ range $.Site.Data.links.social }}
              <li>
                <a href="{{.url}}">{{.name}}</a>
              </li>
            {{ end }}

            {{ range $.Site.Data.links.personal }}
              <li>
                <a href="{{.url}}">{{.name}}</a>
              </li>
            {{ end }}

            {{ range $.Site.Data.links.code }}
              <li>
                <a href="{{.url}}">{{.name}}</a>
              </li>
            {{ end }}
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

</body>

</html>
