---
const date = new Date().getFullYear();
---

<script src="./footer-script"></script>
<footer class="py-16 container mx-auto px-4 text-sm text-center">
  <p class="[&_a]:underline [&_a:hover]:decoration-red-600">
    © <span id="copyright-date">{date}</span> — <a href="/">ryan rampersad</a> —
    <a href="/colophon">colophon</a>
  </p>
</footer>
