---
import "../styles/tailwind.css";
import type { SiteHeadProps } from "../components/SiteHead.astro";
import SiteHead from "../components/SiteHead.astro";

export interface Props extends SiteHeadProps {}

const { title, description } = Astro.props;

const currentYear = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <SiteHead title={title} description={description} />

    <!--
        
      ██████╗ ██╗   ██╗ █████╗ ███╗   ██╗    ██████╗  █████╗ ███╗   ███╗██████╗ ███████╗██████╗ ███████╗ █████╗ ██████╗
      ██╔══██╗╚██╗ ██╔╝██╔══██╗████╗  ██║    ██╔══██╗██╔══██╗████╗ ████║██╔══██╗██╔════╝██╔══██╗██╔════╝██╔══██╗██╔══██╗
      ██████╔╝ ╚████╔╝ ███████║██╔██╗ ██║    ██████╔╝███████║██╔████╔██║██████╔╝█████╗  ██████╔╝███████╗███████║██║  ██║
      ██╔══██╗  ╚██╔╝  ██╔══██║██║╚██╗██║    ██╔══██╗██╔══██║██║╚██╔╝██║██╔═══╝ ██╔══╝  ██╔══██╗╚════██║██╔══██║██║  ██║
      ██║  ██║   ██║   ██║  ██║██║ ╚████║    ██║  ██║██║  ██║██║ ╚═╝ ██║██║     ███████╗██║  ██║███████║██║  ██║██████╔╝
      ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝    ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═╝     ╚══════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝
        
      Designed by Ryan, in Saint Paul, Minnesota.
        
    -->
  </head>
  <body>
    <slot />
    <script src="../components/principles-script.ts"></script>
  </body>
</html>
